main {
    height: 100%;
    min-height: 125vh;
    padding-bottom: 0em;
}

footer {
    position: absolute;
    bottom: 0.313em;
    text-align: center;
    width: 100%;
}

.summary {
    display: inline-block;
    padding: 0.313em;
    border-radius: 0.313em;
    margin-right: 0.25em;
    min-width: 100px;
    text-align: center;
}

a.individual_reports:link {
    font-family: Arial, Helvetica, sans-serif;
    color: #005288;
    text-decoration: underline;
}

a.individual_reports:visited {
    font-family: Arial, Helvetica, sans-serif;
    color: #85B065;
}

a.individual_reports:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: #85B065;
    text-decoration: none;
}

a.individual_reports:active {
    font-family: Arial, Helvetica, sans-serif;
    color: #85B065;
    text-decoration: none;
}

table.tenantdata tr:first-child {
    color: black;
}

.failure { background-color: var(--test-fail); }
.warning { background-color: var(--test-warning); }
.pass { background-color: var(--test-pass); }
.manual { background-color: var(--test-other); }

.error {
    background-color: #deb8b8;
    color: #d10000;
}

.uuid {
    float: right;
    padding-right: 0.313em;
    color: var(--uuid-color);
    font-size: 0.7em;
}
