:root {
    --background-primary: white;
    --background-secondary: #b9bec2;
    --test-pass: #d5ebd5;
    --test-fail: #deb8b8;
    --test-warning: #fff7d6;
    --test-other: #ebebf2;
    --test-deleted-bg: #b2beb5;
    --test-deleted-color: #6f7478;
    --cap-even: #0052882d;
    --cap-hover: #00528850;
    --header-color: #005288;
    --note-color: #ee4e04;
    --header-bottom: black;
    --link-color: #85B065;
    --text-color: black;
    --border-color: black;
    --toggle-height: 25px;
    --toggle-width: 46px;
    --toggle-radius: 18px;
    --unvisited-link-color: #0000EE;
    --uuid-color: #424242;
    font-family: Arial, Helvetica, sans-serif
}

html[data-theme='dark'] {
    --background-primary: #10171D;
    --background-secondary: #121212;
    --test-pass: #1C361C;
    --test-fail: #381919;
    --test-warning: #524100;
    --test-other: #414141;
    --cap-even: #0052882d;
    --cap-hover: #007ccf50;
    --test-error-color: #FD885D;
    --header-color: #b7c8d2;
    --note-color: #ee4e04;
    --header-bottom: rgb(221, 221, 221);
    --link-color: #9bc2a3;
    --unvisited-link-color: #4da6d1;
    --text-color: #bdbdbd;
    --uuid-color: #999999;
    --border-color: #7b7b7b;
    font-family: Arial, Helvetica, sans-serif
}

html { overflow-x: hidden; }

body {
    background-color: var(--background-secondary);
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
    color: var(--text-color)
}

.redact {
  color: black;
  background-color: black;
}

.alternating tr:nth-child(even) {
    background-color: var(--cap-even);
}

.show-more {
    text-align: left;
    margin-left: 50px;
    margin-top: 5px;
}

button.show-more {
  background: none!important;
  border: none;
  padding: 0!important;
  color: var(--unvisited-link-color);
  text-decoration: underline;
  cursor: pointer;
  margin-left: 0;
}

table {
    margin: auto;
    font-size: 12px;
    border-collapse: collapse;
    width: 1000px;
}

.comment-heading {
    display: block;
    font-style: italic;
    margin-top: 10px;
}

h3 {
    text-align: center;
    color: var(--header-color);
}

h4 {
    text-align: center;
    justify-content: start;
    font-size: 10px;
    color: var(--note-color);
    margin-left:20%;
    margin-right: 20%;
    margin-bottom:5px;
}


.links {
    display: flex;
}

header {
    width: 1000px;
    margin: auto;
    border-bottom: 1px solid var(--header-bottom);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 5px;
}

header h3 {
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    color: var(--header-color);
    display: table-cell;
    vertical-align: bottom;
}

header a {
    text-decoration: none;
}

header h3:hover {
    border-bottom: 5px solid var(--header-color);
}

td {
    padding: 4px;
    margin: 0px;
    overflow-wrap: break-word;
}

td a {
    color: var(--header-color)
}

table, th, td {
    border: 1px solid;
    border-color: var(--border-color);
}

main {
    background-color: var(--background-primary);
    width: 1100px;
    margin: auto;
    position: relative;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
    color: var(--header-color);
    margin-top: 10px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: var(--header-color);
    font-size: 16px;
    margin-top: 50px;
}

img {
    width: 100px;
}

.setting {
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);
}

a.control_group:link {
    color: var(--unvisited-link-color);
    text-decoration: underline;
}

a.control_group:visited {
    color: var(--link-color);
}

a.control_group:hover {
    color: var(--link-color);
    text-decoration: none;
}

a.control_group:active {
    color: var(--link-color);
    text-decoration: none;
}

hr {
    margin: 0.5em;
    margin-top: 3em;
}

p {
    max-width: 50%;
    text-align: center;
    margin: auto;
    font-size: 12px;
    padding-bottom: 1.5em;
}

#toggle-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#toggle-text {
    color: #000000;
    margin: 0.313em 3.125em;
    font-size: 0.875em;
    padding-bottom: 2px;
}

#toggle-text.dark {
    color: #7b7b7b;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: var(--toggle-width);
    height: var(--toggle-height);
    left: 3.125em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch input:focus,
.switch input:focus:active,
.switch input:focus + .slider {
    outline: 0.125em solid var(--text-color);
    border-radius: var(--toggle-height);
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b9bec2;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--toggle-radius);
    width: var(--toggle-radius);
    left: 0.25em;
    bottom: 0.219em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #005288ad;
}

input:focus + .slider {
    box-shadow: 0 0 0.063em #005288ad;
}

input:checked + .slider:before {
    -webkit-transform: translateX(var(--toggle-radius));
    -ms-transform: translateX(var(--toggle-radius));
    transform: translateX(var(--toggle-radius));
}

.slider.round {
    border-radius: var(--toggle-height);
}

.slider.round:before {
    border-radius: 50%;
}
