# The following fields are used to document what organization this configuration file belongs to.
orgname: Department of Example
orgunitname: Subdepartment of Example

# The Description field is used to provide a detailed description of the configuration file.
Description: |
  ScubaGoggles YAML Configuration file
  Any exemptions and their risks should be carefully considered and
  documented as part of an organization's cybersecurity risk management program process and practices.
  In order to pass/omit certain policy checks made during a ScubaGoggles assessment run, necessary action
  is required to provide specific values unique to both your organization and GWS tenant in the fields below.
  Please read and understand the full ScubaGoggles configuration file documentation for both adding additional fields or modifying the fields below.
  The documentation can be found here: https://github.com/cisagov/ScubaGoggles/blob/main/docs/usage/Config.md

# The list of GWS Product/SCuBA baselines ScubaGoggles will assess. ScubaGoggles defaults to run against all baselines.
# For a list of acceptable values, See https://github.com/cisagov/ScubaGoggles/blob/main/docs/usage/Parameters.md#usage-parameters
baselines: 
- assuredcontrols
- calendar
- chat
- classroom
- commoncontrols
- drive
- gemini
- gmail
- groups
- meet
- sites

# This field is used to authenticate via access token string to be used in lieu of a credentials file. If provided, will take precendence over the credentials file. Advanced option; using a credentials file is the recommended authentication method.
# accesstoken: [access-token]

# This field is used to assign the local file path to a YAML formatted configuration file to be run with ScubaGoggles. Configuration file fields can be used in place of command-line parameters. Additional parameters and variables not available on the command line can also be included in the file that will be provided to the tool for use in specific tests.
# config: [YAML-config-file]

# This field is used to asssign the email address of a user the service account should act on behalf of. This user must have the necessary privileges to run scubagoggles. Only applicable when using a service account.
# subjectemail: [email-address]

# This field is used to asssign the customer ID the tool should run on. Defaults to "my_customer" which will be the domain of the user / service account authenticating.
# customerid: [customer-id]

# The opapath field is used to specify the path to the Open Policy Agent (OPA) executable.
# scubagoggles setup will attempt to download the OPA executable and place it under: ~/.scubagoggles/
# opapath: ~/.scubagoggles

# The outjsonfilename and outputactionplanfilename fields are used to
# specify the names of the output files generated by ScubaGoggles.
# Recommended to leave these as the default values unless there is a specific reason to change them.
outjsonfilename: ScubaResults
outputactionplanfilename: ActionPlan


# The outputfoldername, outputproviderfilename, outputregofilename, and outputreportfilename fields
# are used to specify the output directory and file names for the results of the SCuBA assessment.
# Recommended to leave these as the default values unless there is a specific reason to change them.
outputfoldername: GWSBaselineConformance
outputproviderfilename: ProviderSettingsExport
outputactionplanfilename: ActionPlan
outputregofilename: TestResults
outputreportfilename: BaselineReports

# This field is used to asssign IP addresses of DNS resolvers that should be used to retrieve any DNS records required by specific SCuBA policies. Optional; if not provided, the system default will be used. Example: --preferreddnsresolvers 8.8.8.8 8.8.4.4
# preferreddnsresolvers [dns-resolvers]

# This field is used to suppresses automatically launching a web browser to open the html report output and the loading bar output.
# quiet

# This field is used to suppresses warning relating to requirements specific to BOD compliance (e.g., documenting OrgName in the config file).
# silencebodwarnings

# This field is used to if true, to not fallback to DoH should the traditional DNS requests fail when retrieving any DNS records required by specific SCuBA policies.

# This field is used to asssign  how many characters will be truncated from the report UUID when appended to the end of outjsonfilename. Valid values are 0, 13, 18, 36. Defaults to 18.
# numberofuuidcharacterstotruncate: [number]

# This field is used to print debugging information for OPA.
# debug

# This field is used to enable dark mode styles for the report output.
# darkmode

# =======================
# BREAK GLASS ACCOUNTS
# =======================
# This is for the Common Controls product. In some cases, it may be appropriate to specify the number of break glass accounts to be omitted from the total admin count. For example: When a policy is looking for the total number of break glass accounts (e.g. policy GWS.COMMONCONTROLS.6.2).

# YAML configuration demonstrating specifiying break glass accounts to be
# exempt from from an admin count.

# baselines: [commoncontrols]

# breakglassaccounts: [admin@example.org, admin2@example.org]

# ============================
# DNS CONFIGURATION
# ============================
# This is for the Gmail product. In some cases, it can be helpful to control where those DNS requests are sent to. ScubaGoggles provides two options for configuring how DNS queries are made: preferreddnsresolvers and skipdoh.

# Use this field to control what DNS resolver is used to fetch the SPF, DKIM, and DMARC records
# preferreddnsresolvers:
#     - 8.8.8.8
#     - 8.8.4.4

# Use this field to assign true, to not fallback to DoH should the traditional DNS requests fail when retrieving any DNS records required by the specific SCuBA policies listed above.
# skipdoh: true

# =============================
# ANNOTATE SECTION : ANNOTATE POLICIES
# =============================
# The AnnotatePolicy field can be used to add annotations or comments to specific policies
# in the SCuBA assessment results. This allows organizations to document the rationale,
# implementation details, or other relevant information about how specific controls are met.
# For in depth details, See https://github.com/cisagov/ScubaGoggles/blob/main/docs/usage/Config.md#annotate-policies
# Note: This section is used to add contextual information to policies without affecting
#       the assessment results. The policies listed here will still be included in the
#       assessment with the additional annotation displayed in the report.

# Reasons for using Annotate Policies
# -----------------------------------
# - Provide context about implementation decisions or risk acceptance.
# - Add references to supporting documentation or evidence.
# - Explain compensating controls or mitigating factors.
# - Note planned improvements or future implementation details.
baselines: [gmail, commoncontrols]

AnnotatePolicy:
  # -------------------------------------
  # ANNOTATE POLICY : GMAIL SAMPLE
  # -------------------------------------
  # An SPF policy SHALL be published for each domain that fails all non-approved senders.
  GWS.GMAIL.3.1v0.6:
    incorrectresult: true
    comment: "Known incorrect result; our SPF policy currently cannot to be retrieved via ScubaGoggles due to a split
      horizon setup but is available publicly."

  # -------------------------------------
  # ANNOTATEPOLICY : COMMONCONTROLS SAMPLE
  # -------------------------------------
  # Phishing-Resistant MFA SHALL be required for all users.
  GWS.COMMONCONTROLS.1.1v0.6:
    comment: Implementation in progress.
    remediationdate: "2025-08-01"

# ============================
# OMIT SECTION : OMIT POLICIES
# ============================
# The OmitPolicy field can be used to exclude policies from the SCuBA assessment
# results (e.g., for controls that are met using a third party tool).
# For in depth details, See https://github.com/cisagov/ScubaGoggles/blob/main/docs/usage/Config.md#omit-policies
# Note:  This section is used to omit policies from the assessment from any product.
#       The policies listed here will not be included in the assessment results.
#       You must provide a rationale for each omitted policy.

# Reasons for using Omit Policies
# --------------------------------
# - The policy is not applicable to the organization's environment.
# - The policy is met using a third-party tool or solution that is not assessed by ScubaGoggles.
# - The policy is an acceptable risk that has been documented and approved by the organization.
baselines: [gmail, commoncontrols]

omitpolicy:
  # -------------------------------------
  # OMIT POLICY : GMAIL SAMPLE
  # -------------------------------------
  # Mail Delegation SHOULD be disabled.
  GWS.GMAIL.1.1v0.6:
    rationale: "Accepting risk for now, will reevaluate at a later date."
    expiration: "2025-12-31"
  
  # -------------------------------------
  # OMIT POLICY : COMMONCONTROLS SAMPLE
  # -------------------------------------
  # A custom policy SHALL be configured for Google Drive to protect PII and sensitive information as defined by the agency, blocking at a minimum: credit card numbers, U.S. Individual Taxpayer Identification Numbers (ITIN), and U.S. Social Security numbers (SSN).
  GWS.COMMONCONTROLS.18.1v0.6:
    rationale: &DLPRationale "The DLP capability required by the baselines is implemented by third party product, [x],
      which ScubaGoggles does not have the ability to check."
 
  # A custom policy SHALL be configured for Google Chat to protect PII and sensitive information as defined by the agency, blocking at a minimum: credit card numbers, U.S. Individual Taxpayer Identification Numbers (ITIN), and U.S. Social Security numbers (SSN).
  GWS.COMMONCONTROLS.18.2v0.6:
    rationale: *DLPRationale

# The "&" character used in the above example defines an anchor, which saves a value
# for future reference. This value can then be retrieved with the "*" character. See
# https://yaml.org/spec/1.2.2/#692-node-anchors for more details. In this case, the
# anchor allows you to configure multiple omissions that share the same rationale

# without repeating yourself.
