name: Check OPA Hash
on: [workflow_dispatch]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        path: repo
        ref: main
    - name: Get OPA Hash
      run: |
           cd ./repo/utils
           chmod +x checkOPAHash.sh
           ./checkOPAHash.sh
