name: Run Smoke Test
on:
  pull_request:
    types: [opened, reopened]
    branches:
      - "main"
  pull_request_review:
    types: [submitted]
  push:
    # These paths are primarily for workflow testing purposes
    paths:
      - ".github/workflows/run_smoke_test.yml"
      - ".github/actions/setup-dependencies-windows/action.yml"
      - ".github/actions/setup-dependencies-macos/action.yml"
    branches:
      - "main"
      - "*smoketest*"
  workflow_call:
  workflow_dispatch:
    inputs:
      operating-system:
        description: "Choose operating system(s), format must be an array of strings:"
        required: true
        type: string
        default: "['windows-latest', 'macos-latest', 'ubuntu-latest']"
      python-version:
        description: "Choose python version(s), format must be an array of strings:"
        required: true
        type: string
        default: "['3.10', '3.14']"
      opa-version:
        description: "Choose OPA version"
        required: true
        type: string
        default: latest

jobs:
  configuration:
    runs-on: ubuntu-latest
    outputs:
      operating-system: ${{ steps.variables.outputs.operating-system }}
      python-version: ${{ steps.variables.outputs.python-version }}
      opa-version: ${{ steps.variables.outputs.opa-version }}
    steps:
      - name: Configure variable outputs
        id: variables
        run: |
          # For manual runs
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            operatingsystem_val="${{ inputs.operating-system }}"
            pythonversion_val="${{ inputs.python-version }}"
            opaversion_val="${{ inputs.opa-version }}"
          # Default values for other events
          else
            operatingsystem_val="['windows-latest', 'macos-latest', 'ubuntu-latest']"
            pythonversion_val="['3.10', '3.14']"
            opaversion_val="latest"
          fi
          echo "operating-system=$operatingsystem_val" >> "$GITHUB_OUTPUT"
          echo "python-version=$pythonversion_val" >> "$GITHUB_OUTPUT"
          echo "opa-version=$opaversion_val" >> "$GITHUB_OUTPUT"
  smoke-test:
    needs: configuration
    strategy:
      fail-fast: false
      matrix:
        operating-system: ${{ fromJSON(needs.configuration.outputs.operating-system) }}
        # See https://raw.githubusercontent.com/actions/python-versions/main/versions-manifest.json,
        # ctrl + f and search "python-3.<minor>.<patch>-<darwin-arm64/win32/linux>" for supported versions
        python-version: ${{ fromJSON(needs.configuration.outputs.python-version) }}
    runs-on: ${{ matrix.operating-system }}
    # Google's Policy API has a read request quota that limits the number of
    # requests per minute.  This means we can't run too many jobs at the same
    # time.  Limiting the runs by operating system should be good enough to
    # avoid the limit.  GitHub allows 1 running and 1 pending job per
    # concurrency group, so this setup will work as long as we stick to just
    # 2 Python version runs per OS.
    concurrency:
      group: ${{ matrix.operating-system }}
    outputs:
      baseline-path: ${{ steps.baselinepath.outputs.cachepath }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Python v${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
          cache-dependency-path: "requirements.txt"

      - name: Setup credentials for service account
        id: create-json
        uses: jsdaniell/create-json@v1.2.3
        with:
          name: "credentials.json"
          json: ${{ secrets.GWS_GITHUB_AUTOMATION_CREDS }}

      - name: Setup Dependencies (Windows)
        if: ${{ matrix.operating-system == 'windows-latest' }}
        uses: ./.github/actions/setup-dependencies-windows
        with:
          operating-system: "windows"
          opa-version: ${{ needs.configuration.outputs.opa-version }}
          python-version: ${{ matrix.python-version }}

      - name: Setup Dependencies (ubuntu)
        if: ${{ matrix.operating-system == 'ubuntu-latest' }}
        uses: ./.github/actions/setup-dependencies-macos
        with:
          operating-system: "ubuntu"
          opa-version: ${{ needs.configuration.outputs.opa-version }}
          python-version: ${{ matrix.python-version }}

      - name: Setup Dependencies (macOS)
        if: ${{ matrix.operating-system == 'macos-latest' }}
        uses: ./.github/actions/setup-dependencies-macos
        with:
          operating-system: "macos"
          opa-version: ${{ needs.configuration.outputs.opa-version }}
          python-version: ${{ matrix.python-version }}

      - name: Run ScubaGoggles and check for correct output (windows | macOs)
        if: ${{ matrix.operating-system == 'windows-latest' ||  matrix.operating-system == 'macos-latest'}}
        run: |
          ${{ env.SCUBAGOGGLES_ACTIVATE_VENV }}
          pytest ./scubagoggles/Testing/Functional/SmokeTests/ -vvv --subjectemail="${{ secrets.GWS_SUBJECT_EMAIL }}" --customerdomain="${{ secrets.GWS_DOMAIN }}"

      - name: Run ScubaGoggles and check for correct output (ubuntu)
        if: ${{ matrix.operating-system == 'ubuntu-latest' }}
        id: baselinepath
        run: |
          ${{ env.SCUBAGOGGLES_ACTIVATE_VENV }}
          pytest ./scubagoggles/Testing/Functional/SmokeTests/ -vvv --subjectemail="${{ secrets.GWS_SUBJECT_EMAIL }}" --customerdomain="${{ secrets.GWS_DOMAIN }}"
          FOUNDIT=$(find /home/runner/scubagoggles -type d -name "GWSBaselineConformance_*")
          echo "cachepath=$FOUNDIT" >> $GITHUB_OUTPUT

      - name: Cache the output directory
        id: baseline
        uses: actions/cache@v4
        with:
          path: /home/runner/scubagoggles
          key: ${{ runner.os }}-baseline-${{ steps.baselinepath.outputs.cachepath }}

  lhci:
    runs-on: ubuntu-latest
    needs: smoke-test
    permissions:
      contents: write
    if: ${{ always() }}
    steps:
      - name: Restore cached baseline folder
        uses: actions/cache/restore@v4
        with:
          path: |
            /home/runner/scubagoggles
          key: ${{ runner.os }}-baseline-${{ steps.baselinepath.outputs.cachepath }}

      - name: Use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Run Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.15.x
          lhci autorun --collect.staticDistDir=/home/runner/scubagoggles --outputDir=./ --collect.maxAutodiscoverUrls=12 --upload.target=temporary-public-storage --upload.githubAppToken="${{ secrets.LHCI_GITHUB_APP_TOKEN }}"
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
          LHCI_BUILD_CONTEXT__CURRENT_HASH: ${{ github.event.pull_request.head.sha || github.sha }}