name: Run Link Checker for Markdown Edits
on:
    workflow_dispatch:
    pull_request:
      types: [opened, reopened]
    pull_request_review:
      types: [submitted]
    branches:
      - 'releases/**'
jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: tcort/github-action-markdown-link-check@v1
      with:
        base-branch: 'main'
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        check-modified-files-only: 'yes'
