on:
  workflow_dispatch:
    inputs:
      releaseName:
        description: "Release Name (e.g., 1.2.4)"
        required: true
        type: string
      version:
        description: "Release Version (e.g., 1.2.4)"
        required: true
        type: string

name: Build Draft Release

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: tcort/github-action-markdown-link-check@v1
      with:
        base-branch: 'main'
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'

  build-and-deploy:
    needs: markdown-link-check
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: "3.12"
      RELEASE_VERSION: ${{ inputs.version }}
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install Python dependencies
        run: pip install -r requirements.txt
      - name: Package Repo for release
        shell: bash
        run: |
          reqv="${{ inputs.version }}"
          reqv="${reqv//[[:space:]]/}"
          [[ ! "$reqv" =~ ^[0-9]{1,2}(\.[0-9]{1,2}){2}$ ]] \
            && echo "invalid request version: $reqv" && exit 1
          sgv=$(grep -o '[0-9]\+\.[0-9]\+\.[0-9]\+' scubagoggles/__init__.py)
          [[ "$reqv" == "$sgv" ]] \
            || (echo "version mismatch - current: $sgv" && exit 1)
          ./scubagoggles/utils/build.sh -r "$PWD" -t "$GITHUB_REF_NAME"
      - name: release
        uses: softprops/action-gh-release@v1
        id: create_release
        with:
          draft: true
          prerelease: false
          name: v${{ inputs.releaseName }}
          tag_name: v${{ inputs.version }}
          files: |
            scubagoggles-*-py3-none-any.whl
            scubagoggles-*.tar.gz
            scubagoggles-*.zip
          generate_release_notes: true
          fail_on_unmatched_files: true
