name: Run OPA Tests
on:
  # Run tests on each commit, newly opened/reopened PR, and
  # PR review submission (e.g. approval)
  workflow_dispatch:
  push:
    paths:
      - "**.rego"
  pull_request:
    types: [opened, reopened]
    branches:
      - "main"
    paths:
      - "**.rego"
  pull_request_review:
    types: [submitted]

jobs:
  Run-OPA-Tests:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Setup OPA
      uses: open-policy-agent/setup-opa@v2
      with:
        version: latest

    - name: Run OPA Check
      run: opa check scubagoggles/rego scubagoggles/Testing/Unit/Rego --strict

    - name: Run OPA Tests
      run: opa test scubagoggles/rego/*.rego scubagoggles/Testing/Unit/Rego/**/*.rego -v

    - name: Setup Regal
      uses: StyraInc/setup-regal@v1
      with:
        version: 0.27.0

    - name: Run Regal Lint
      run: regal lint --format github scubagoggles/rego scubagoggles/Testing/Unit/Rego
