name: Run Link Checker for Markdown Edits
on:
    workflow_dispatch:
    pull_request:

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: tcort/github-action-markdown-link-check@v1
      with:
        base-branch: 'main'
        config-file: 'mlc_config.json'
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
