name: Run Link Checker for Release
on:
    workflow_dispatch:
    pull_request_review:
        types: [submitted]

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/heads/release/')
    steps:
    - uses: actions/checkout@v4
    - uses: tcort/github-action-markdown-link-check@v1
      with:
        base-branch: 'main'